@page
@model CarBookingDiagnostics.Pages.Manage.Customers.DetailsModel

@{
    ViewData["Title"] = "Customer Details";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="..." crossorigin="anonymous">
</head>

<h1>Customer Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Customer.LastName), @Html.DisplayFor(model => model.Customer.FirstName) (ID: @Html.DisplayFor(model => model.Customer.CustomerId))</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.TownCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.TownCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.County)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.County)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Customer.CustomerId"><i class="fas fa-file-pen"></i> Edit</a>
    <a class="btn btn-success" asp-page="./Index"><i class="fas fa-backward-step"></i> Back</a>
</div>
