@page
@model CarBookingDiagnostics.Pages.Manage.Vehicles.DetailsModel

@{
    ViewData["Title"] = "Vehicle Details";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="..." crossorigin="anonymous">
</head>

<h1>Vehicle Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Vehicle.Make) @Html.DisplayFor(model => model.Vehicle.Model) (@Html.DisplayFor(model => model.Vehicle.RegistrationNumber))</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Colour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Colour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.FuelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.FuelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.MonthOfFirstRegistration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.MonthOfFirstRegistration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.YearOfManufacture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.YearOfManufacture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Wheelplan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Wheelplan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.MOTStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.MOTStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.MOTExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.MOTExpiryDate)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Vehicle.VehicleId"><i class="fas fa-file-pen"></i> Edit</a>
    <a class="btn btn-success" asp-page="./Index"><i class="fas fa-backward-step"></i> Back</a>
</div>
