@page

<head>
    <link rel="stylesheet" href="lib/fontawesome-free-6.5.0-web/css/all.css" /> <!-- Imports FontAwesome Icons Library -->
</head>
`
@model ResolveModel
@{
    ViewData["Title"] = "Resolve";
}

<div class="p-9 mb-4 bg-light rounded">
    <div class="container-fluid py-5">
        <div class="text-center">
            <h1 class="display-5 fw-bold">Your Vehicle</h1>
            <h3 class="display-6 mb-4">@Model.Vehicle.Make @Model.Vehicle.Model @Model.Vehicle.Colour @Model.Vehicle.FuelType</h3>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post" class="text-center">
                        <div class="mb-3 d-flex align-items-center justify-content-center">
                            <input type="text" readonly class="form-control-lg registration me-2" style="width:230px; height:57px;" value="@Model.Vehicle.RegistrationNumber" aria-label="VehicleRegistrationView" />
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn btn-link mt-2" onclick="OnChangeVehicle()">Change Vehicle</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 border-right">
            <h4 class="title mb-4">Vehicle Details</h4>
            <div class="paragraph-container">
                <p class="textbold mb-4">Make: </p><p class="textregular mb-4">@Model.Vehicle.Make</p>
                <br />
                <p class="textbold mb-4">Model: </p><p class="textregular mb-4">@Model.Vehicle.Model</p>
                <br />
                <p class="textbold mb-4">Colour: </p><p class="textregular mb-4">@Model.Vehicle.Colour</p>
                <br />
                <p class="textbold mb-4">Fuel Type: </p><p class="textregular mb-4">@Model.Vehicle.FuelType</p>
                <br />
                <p class="textbold mb-4">First Registered: </p><p class="textregular mb-4">@Model.Vehicle.MonthOfFirstRegistration</p>
                <br />
                <p class="textbold mb-4">Manufacture Year: </p><p class="textregular mb-4">@Model.Vehicle.YearOfManufacture</p>
                <br />
                <p class="textbold mb-4">Wheelplan: </p><p class="textregular mb-4">@Model.Vehicle.Wheelplan</p>
                <br />
                <p class="textbold mb-4">MOT Status: </p><p class="textregular mb-4">@Model.Vehicle.MOTStatus (@Model.Vehicle.MOTExpiryDate)</p>
            </div>
        </div>

        <div class="col ps-3">
            <div class="mb-4 ps-3">
                <div class="progress-container">
                    <div class="progress-bar" style="width: 48%;"></div>
                </div>
            </div>
            <h4 class="title mb-4 ps-3">We found possible problems with your @Model.Vehicle.Make @Model.Vehicle.Model's @Request.Query["issue"].ToString()</h4>
            <h2 class="textregular mb-4 ps-3">You should read through the problems listed below and make an Appointment with our Mechanics, who will be able to further troubleshoot your problem based off the questions you have answered, and get you back on the road as quickly as possible.</h2>
            @foreach (var solution in Model.Solutions)
            {
                <h2 class="textbold text-red mb-4 ps-3"><i class="fas fa-xmark-circle"></i>@solution.Key</h2>
                @foreach (var detail in solution.Value)
                {
                    <h2 class="textregular mb-4 ps-3">@detail</h2>
                }
            }
            <div class="checkbox-container ps-3">
                <div class="checkbox-item pt-3">
                    <button type="button" class="btn btn-primary" onclick="OnBook()">Book @Request.Query["issue"].ToString() Appointment </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function OnChangeVehicle() {
        window.location.href = `/Index`;
    }

    function OnBook() {
        var urlParams = new URLSearchParams(window.location.search)
        var issue = urlParams.get('issue');
        window.location.href = `/Booking/Availability?issue=${issue}`;
    }

    function OnPrevious() {
        var urlParams = new URLSearchParams(window.location.search)
        var issue = urlParams.get('issue');
        window.location.href = `/Diagnostics/Identification?issue=${issue}`;
    }
</script>