@page

@model VehicleDetailsModel
@{
    ViewData["Title"] = "Vehicle Details";
}

<div class="p-9 mb-4 bg-light rounded">
    <div class="container-fluid py-5">
        <div class="text-center">
            <h1 class="display-5 fw-bold">Your Vehicle</h1>
            <h3 class="display-6 mb-4">@Model.Vehicle.Make @Model.Vehicle.Model @Model.Vehicle.Colour @Model.Vehicle.FuelType</h3>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="post" class="text-center">
                        <div class="mb-3 d-flex align-items-center justify-content-center">
                            <input type="text" readonly class="form-control-lg registration me-2" style="width:230px; height:57px;" value="@Model.Vehicle.RegistrationNumber" aria-label="VehicleRegistrationView" />
                        </div>
                    </form>
                </div>
            </div>
            <button class="btn btn-link mt-2" onclick="OnChangeVehicle()">Change Vehicle</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 border-right">
            <h4 class="title mb-4">Vehicle Details</h4>
            <div class="paragraph-container">
                <p class="textbold mb-4">Make: </p><p class="textregular mb-4">@Model.Vehicle.Make</p>
                <br />
                <p class="textbold mb-4">Model: </p><p class="textregular mb-4">@Model.Vehicle.Model</p>
                <br />
                <p class="textbold mb-4">Colour: </p><p class="textregular mb-4">@Model.Vehicle.Colour</p>
                <br />
                <p class="textbold mb-4">Fuel Type: </p><p class="textregular mb-4">@Model.Vehicle.FuelType</p>
                <br />
                <p class="textbold mb-4">First Registered: </p><p class="textregular mb-4">@Model.Vehicle.MonthOfFirstRegistration</p>
                <br />
                <p class="textbold mb-4">Manufacture Year: </p><p class="textregular mb-4">@Model.Vehicle.YearOfManufacture</p>
                <br />
                <p class="textbold mb-4">Wheelplan: </p><p class="textregular mb-4">@Model.Vehicle.Wheelplan</p>
                <br />
                <p class="textbold mb-4">MOT Status: </p><p class="textregular mb-4">@Model.Vehicle.MOTStatus (@Model.Vehicle.MOTExpiryDate) </p>
            </div>
        </div>
        <div class="col">
            <div class="mb-4 ps-3">
                <div class="progress-container">
                    <div class="progress-bar" style="width: 16%;"></div>
                </div>
            </div>
            <h4 class="title mb-4 ps-3">Let's help you troubleshoot...</h4>
            <form method="post">
                <div class="button-container ps-3"> 
                    <button type="button" id="MOT" class="btn button btn-primary" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-magnifying-glass" onclick="onIssueClick"></i> MOT</button>
                    <button type="button" id="Service" class="btn button btn-danger" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-wrench" onclick="onIssueClick"></i> Service</button>
                    <button type="button" id="Brakes" class="btn button btn-warning" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-hill-rockslide" onclick="onIssueClick"></i> Brakes</button>
                    <button type="button" id="Battery" class="btn button btn-success" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-car-battery" onclick="onIssueClick"></i> Battery</button>
                </div>
                <div class="button-container ps-3">
                    <button type="button" id="Tyres" class="btn button btn-secondary" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-truck-monster" onclick="onIssueClick"></i> Tyres</button>
                    <button type="button" id="Engine" class="btn button btn-info" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-gas-pump" onclick="onIssueClick"></i> Engine</button>
                    <button type="button" id="Lights" class="btn button btn-warning" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-lightbulb" onclick="onIssueClick"></i> Lights</button>
                    <button type="button" id="Windows" class="btn button btn-dark" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-window-maximize" onclick="onIssueClick"></i> Windows</button>
                </div>
                <div class="button-container ps-3">
                    <button type="button" id="Electrical" class="btn button btn-danger" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-bolt" onclick="onIssueClick"></i> Electrical</button>
                    <button type="button" id="Air Conditioning" class="btn button btn-primary" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-temperature-three-quarters" onclick="onIssueClick"></i> Air Con</button>
                    <button type="button" id="Wipers" class="btn button btn-warning" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-left-right" onclick="onIssueClick"></i> Wipers</button>
                    <button type="button" id="Other" class="btn button btn-success" onclick="OnTopicClick(this.id)"><i class="fa-solid fa-sitemap" onclick="onIssueClick"></i> Other</button>
                </div>
            </form>
        </div>
    </div>
</div>
    
<div class="modal fade" id="selectVehicleModelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Select Vehicle Model - @Model.Vehicle.Make</h1>
            </div>
            <form method="post" asp-page-handler="SetModel">
            <div class="modal-body">
                <p>Please select your Vehicle Model from the dropdown menu below:</p>
                <select class="form-select" name="SelectedModel" id="vehicleModelDropdown">
                </select>
                <input type="hidden" id="vehicleModel" name="Vehicle.Model" asp-for="Vehicle.Model" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="setModelButton">Set Model</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    var models = @Html.Raw(Json.Serialize(ViewData["Models"]));
    var dropdown = document.getElementById("vehicleModelDropdown");
    for (var i = 0; i < models.length; i++) {
        var option = document.createElement("option");
        option.text = models[i];
        dropdown.add(option);
    }

    $(document).ready(function () {
        var showModal = '@string.IsNullOrEmpty(Model.Vehicle.Model)';

        if (showModal == 'True') 
        {
            $('#selectVehicleModelModal').modal('show');
        }

        $('#setModelButton').on('click', function () {
            var selectedModel = $('#vehicleModelDropdown').val();
            // Set the selected model
            $('#vehicleModel').val(selectedModel);
            // Update the selected model field
            $('#displayedModel').text(selectedModel);
            $('#displayedModel1').text(selectedModel);
            // Close the modal
            $('#selectVehicleModelModal').modal('hide');
        });
    });

    function OnTopicClick(buttonId) {
        window.location.href = `/Diagnostics/Identification?issue=${buttonId}`;
    }

    function OnChangeVehicle() {
        window.location.href = `/Index`;
    }
</script>